@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", "serif";
  color: #333;
  line-height: 1.6;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  color: #66bfbf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #66bfbf;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.7rem 0;
  font-family: "Montserrat", "sans-serif";
}

p {
  margin: 0.7rem;
  font-family: "Montserrat", "sans-serif";
}

img {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2.3rem;
}

/* Navbar */

.navbar {
  background-color: #e4f9f5;
  max-height: fit-content;
  width: auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.navbar .logo {
  padding-left: 2rem;
}

.navbar .logo h1 {
  font-weight: 600;
  line-height: 1.6;
}

.navbar .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .container ul li {
  padding-right: 1rem;
}

/* name section */

.name-section {
  background-color: #e4f9f5;
}

.name-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-text h1 {
  font-family: "Sacramento", cursive;
  line-height: 2;
  font-size: 6rem;
}

.name-text p {
  text-align: center;
  font-size: 1.3rem;
}
.first-cloud {
  padding-top: 6rem;
}
.second-cloud {
  padding-bottom: 8rem;
}

/* Mountain section */
.mountain-section {
  background-color: #e4f9f5;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.mountain-section img {
  width: 80%;
}
